.hero {
    width: 100%;
    min-height: 100vh;
    background: url('../../assets/slide-01.jpg');
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat; 
    color: #fff;
    display: flex;
}

.hero-text{
    display: flex;
    flex-direction: column;
    margin-top: 50px ;
    max-width: 800px;
    margin-bottom: 100px;
    margin-top: 160px;
}

.hero-text h1{
    font-size: 45px;
    font-weight: 700;
        margin-left: 160px;

}
.hero-text p{
    line-height: 1.5;
    font-size: 12px;
    width: 90%;
    margin-top: 10px;
    margin-left: 160px;

}

.hero-text span {
    color: rgb(226, 36, 36);
}

.line{
   height: 4px;             
  background-color: white; 
  border: none;             
  margin: 20px 0;
  width: 10%;
  margin-left: 160px;

    
}

.buttons{
margin-top: 40px;
margin-left: 160px;

}

.button-one{
background-color: #28c76f; 
  color: white;           
  padding: 10px 12px;        
  border: none;             
  border-radius: 5px;        
  font-size: 12px;          
  font-weight: 600;         
  cursor: pointer;         
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s ease;
}

.button-two{
    background-color: rgb(214, 49, 49); 
  color: white;           
  padding: 10px 20px;        
  border: none;             
  border-radius: 5px;        
  font-size: 12px;          
  font-weight: 600;         
  cursor: pointer;         
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s ease;
  margin-left: 15px;
}

.arrowbuttons {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  cursor: pointer;
}


